<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather-icon.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/person2.png" alt="Person">
        <p>This page was created to view to the weather of any location.</p>
        <p>This application uses data from mapbox.com and weatherstack.com</p>
    </div>
    {{>footer}}
</body>
</html>
